/* line 4, ../compass/sass/style.scss */
#clock-container {
  margin: 3% auto 1%;
  text-align: center;
  font-size: 80px;
}
/* line 8, ../compass/sass/style.scss */
#clock-container .clock {
  display: inline;
  color:white;
  border: 10px solid #000080;
  border-radius: 50px;
  padding:20px;
}
/* line 12, ../compass/sass/style.scss */
#clock-container #ampm {
  margin-left: 1%;
}

/* line 16, ../compass/sass/style.scss */
#freeze {
  margin: auto;
  text-align: center;
}
/* line 19, ../compass/sass/style.scss */
#freeze button {
  font-size: 40px;
  border-radius:10px;
  background-color:#000080;
  color:#cf5300;
  margin-top: 20px;
}

/* line 23, ../compass/sass/style.scss */
.blue-numbers {
  color: blue;
}

/* line 27, ../compass/sass/style.scss */
.red-numbers {
  color: red;
}
