/* line 4, ../compass/sass/style.scss */
#clock-container {
  margin: 20% auto 1%;
  text-align: center;
  font-size: 80px;
}
/* line 8, ../compass/sass/style.scss */
#clock-container .clock {
  display: inline;
}
/* line 12, ../compass/sass/style.scss */
#clock-container #ampm {
  margin-left: 1%;
}

/* line 16, ../compass/sass/style.scss */
#freeze {
  margin: auto;
  text-align: center;
}
/* line 19, ../compass/sass/style.scss */
#freeze button {
  font-size: 40px;
}

/* line 23, ../compass/sass/style.scss */
.blue-numbers {
  color: blue;
}

/* line 27, ../compass/sass/style.scss */
.red-numbers {
  color: red;
}
